In [331]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [332]:
# Read the CSV files into DataFrames.
athletic_sales_data_2020 = pd.read_csv('Resources/athletic_sales_2020.csv')
athletic_sales_data_2021 = pd.read_csv('Resources/athletic_sales_2021.csv')

In [333]:
# Display the 2020 sales DataFrame
athletic_sales_data_2020

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
1292,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,72,203,14616,3946.32,Online
1293,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,80,700,560000,84000.00,Outlet
1294,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,41,119,4879,2878.61,Online
1295,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,45,475,213750,96187.50,Outlet
1296,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,62,245,15190,2886.10,Outlet

In [334]:
# Display the 2021 sales DataFrame
athletic_sales_data_2021

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
...,...,...,...,...,...,...,...,...,...,...,...,...
8341,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
8342,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
8343,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
8344,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
8345,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

#### Check the data types of each DataFrame

In [335]:
# Check the 2020 sales data types.
athletic_sales_data_2020.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [336]:
# Check the 2021 sales data types.
athletic_sales_data_2021.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [337]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales_data = pd.concat([athletic_sales_data_2020, athletic_sales_data_2021], ignore_index=True)
print(combined_sales_data)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [338]:
# Check if any values are null.
null_values = combined_sales_data.isnull().any()

In [339]:
# Check the data type of each column
if null_values.any():
    print("Columns with null values:")
    print(null_values[null_values])
else:
    print("No null values found in the combined sales data.")

No null values found in the combined sales data.

In [340]:
# Convert the "invoice_date" to a datetime datatype
combined_sales_data['invoice_date'] = pd.to_datetime(combined_sales_data['invoice_date'])
print(combined_sales_data.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

C:\Users\sheve\AppData\Local\Temp\ipykernel_8408\4209080031.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_sales_data['invoice_date'] = pd.to_datetime(combined_sales_data['invoice_date'])

In [341]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_sales_data.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [342]:
# Show the number products sold for region, state, and city.
products_sold_by_location = combined_sales_data.groupby(['region', 'state', 'city'])['units_sold'].agg(Total_Products_Sold=("sum"))
# Rename the sum to "Total_Products_Sold".
#done via above

# Show the top 5 results.
Productssold=products_sold_by_location.sort_values(by=('Total_Products_Sold'), ascending=False)

Top5Products= Productssold.head(5)
print(Top5Products)

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

#### Using `pivot_table`

In [360]:
# Show the number products sold for region, state, and city.
pivot_table_products = pd.pivot_table(combined_sales_data, values='units_sold', index=['region', 'state', 'city'], aggfunc='sum')


# Rename the "units_sold" column to "Total_Products_Sold"
totalptproducts=pivot_table_products.rename(columns={'units_sold': 'Total_Products_Sold'})
totalproducts=totalptproducts.sort_values(by=('Total_Products_Sold'), ascending=False)


# Show the top 5 results.
top_5_results = totalproducts.head(5)
print(top_5_results)

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [356]:
# Show the total sales for the products sold for each region, state, and city.
total_sales_by_location = combined_sales_data.groupby(['region', 'state', 'city'])['total_sales'].agg(Total_Sales=("sum"))



# Rename the "total_sales" column to "Total Sales"
#done above
locationsales = total_sales_by_location.sort_values(by='Total_Sales', ascending=False)


# Show the top 5 results.

top_5_results = locationsales.head(5)
print(top_5_results)

                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

#### Using `pivot_table`

In [361]:
# Show the total sales for the products sold for each region, state, and city.
pivot_table_sales_products = pd.pivot_table(combined_sales_data, values='total_sales', index=['region', 'state', 'city'], aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_sales_products = pivot_table_sales_products.rename(columns={'total_sales': 'Total Sales'})
pivot_table_totalsales_products = pivot_table_sales_products.sort_values(by='Total Sales', ascending=False)


# Show the top 5 results.
top_5_results = pivot_table_totalsales_products .head(5)
print(top_5_results)

                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [384]:
# Show the total sales for the products sold for each retailer, region, state, and city.
sales_by_retailer = combined_sales_data.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].agg(Total_sales=("sum"))


# Rename the "total_sales" column to "Total Sales"
#done above
retailersales = sales_by_retailer.sort_values(by='Total_sales', ascending=False)


# Show the top 5 results.
top_5_results = retailersales.head(5)
print(top_5_results)

                                                    Total_sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

#### Using `pivot_table`

In [390]:
# Show the total sales for the products sold for each retailer, region, state, and city.

pivot_table_sales = pd.pivot_table(combined_sales_data, values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')



# Optional: Rename the "total_sales" column to "Total Sales"

pivot_table_sales = pivot_table_sales.rename(columns={'total_sales': 'Total Sales'})
pivot_table_sales = pivot_table_sales.sort_values(by='Total Sales', ascending=False)



# Show the top 5 results.
top_5_results = pivot_table_sales.head(5)
print(top_5_results)

                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [348]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_footwear_sales = combined_sales_data[combined_sales_data['product'] == 'Women\'s Athletic Footwear']
print(womens_athletic_footwear_sales)

         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9634  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9635       Amazon      1185732   2021-12-30  Northeast         Maine
9636       Amazon      1185732   2021-12-30  Northeast         Maine
9637  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [349]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_athletic_footwear_sales = combined_sales_data.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].agg(Womens_Footwear_Units_Sold=("sum"))


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
#done above

# Show the top 5 results.
women_products_sold = womens_athletic_footwear_sales.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)


top_5_results = women_products_sold.head(5)
print(top_5_results)

                                                  Womens_Footwear_Units_Sold
retailer      region    state      city
West Gear     West      California San Francisco                       81233
Kohl's        West      California Los Angeles                         74543
Foot Locker   Northeast New York   New York                            72196
Sports Direct South     Texas      Dallas                              67683
Walmart       South     Texas      Houston                             65072

#### Using `pivot_table`

In [395]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table_womens_footwear = pd.pivot_table(womens_athletic_footwear_sales, values='Womens_Footwear_Units_Sold', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
#renamed already
pivot_table_womens_footwear = pivot_table_womens_footwear.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Show the top 5 results.
top_5_results = pivot_table_womens_footwear.head(5)
print(top_5_results)

                                                  Womens_Footwear_Units_Sold
retailer      region    state      city
West Gear     West      California San Francisco                       81233
Kohl's        West      California Los Angeles                         74543
Foot Locker   Northeast New York   New York                            72196
Sports Direct South     Texas      Dallas                              67683
Walmart       South     Texas      Houston                             65072

In [396]:
# Show the total sales for the products sold for each region, state, and city.
pivot_table_sales_products = pd.pivot_table(combined_sales_data, values='total_sales', index=['region', 'state', 'city'], aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
total_sales_products = pivot_table_sales_products.rename(columns={'total_sales': 'Total_Sales'})
total_sales_products = total_sales_products.sort_values(by='Total_Sales', ascending=False)

# Show the top 5 results.
top_5_results = total_sales_products.head(5)
print(top_5_results)

                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [400]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table_sales_products = pd.pivot_table(combined_sales_data, values='total_sales', index=['invoice_date'], aggfunc='sum')



# Optional: Rename the "total_sales" column to "Total Sales"
total_sales_date = pivot_table_sales_products.rename(columns={'total_sales': 'Total Sales'})
total_sales_date = total_sales_date.sort_values(by='Total Sales', ascending=False)


# Show the table.
print(total_sales_date)

              Total Sales
invoice_date
2021-07-16       12261098
2021-12-16       10871121
2021-06-17       10239903
2021-08-17        9517031
2021-07-23        7689134
...                   ...
2020-12-06          38484
2020-12-12          35800
2020-12-14          34529
2020-12-07          31994
2020-12-13          26922

[723 rows x 1 columns]

In [ ]:
# Resample the pivot table into daily bins, and get the total sales for each day.
resampled_sales_daily = pivot_table_sales.resample('D').sum()


# Sort the resampled pivot table in descending order on "Total Sales".
sorted_resampled_sales_daily = resampled_sales_daily.sort_values(by='Total Sales', ascending=False)
print(sorted_resampled_sales_daily)

              Total Sales
invoice_date
2020-09-17       374745.0
2020-06-30       346418.0
2020-07-01       338723.5
2020-07-07       338055.0
2020-07-08       308085.0
...                   ...
2020-10-13            0.0
2020-10-12            0.0
2020-10-11            0.0
2020-02-29            0.0
2020-12-31            0.0

[731 rows x 1 columns]

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
resampled_sales_weekly = pivot_table_sales.resample('W').sum()


# Sort the resampled pivot table in descending order on "Total Sales".
sorted_resampled_sales_weekly = resampled_sales_weekly.sort_values(by='Total Sales', ascending=False)

print(sorted_resampled_sales_weekly)

               Total Sales
invoice_date
2020-07-05    1.880870e+06
2020-07-12    1.787918e+06
2020-10-04    1.627700e+06
2020-09-20    1.602208e+06
2020-09-27    1.557548e+06
...                    ...
2022-01-02    2.962068e+05
2020-12-20    2.951135e+05
2021-10-31    2.654317e+05
2020-12-13    2.331610e+05
2020-10-18    1.257340e+05

[105 rows x 1 columns]